<mat-card>
        <img src="./../../assets/images/logos.png" alt="" />
      </mat-card>
      
      <div class="desc">
       <em>Authenticates a PhilAm Life Reward</em>
             
      <p>The<b> PhilAm Life Rewards API </b>is one of the PhilAm Application programming interfaces (APIs) that grants the application owner permission to use to data of all reward of the PhilAm life when invoking reward system. This API utilizes OAuth 2.0 authorization framework that requires the account holder to login using his/her credentials, select an account, verify via One-Time Password, and provide consent to debit their account.</p>
             
             <p class="p-title"> What are the key features?</p>
          <ul>
              <li>Displays a web view of the PhilAM Customer Authentication page where the PhilAM account holder is required to input the credentials, select the account for the transaction, and grant consent to the application owner.</li>
              <li>Prevents unauthorized access to the PhilAm Life client’s account.</li>
              <li>Enables authentication and linking of account through short-lived or long-lived access tokens</li>
              <li>An application that hold data about client premium and info can secure consent from its PhilAm account holder.</li>
          </ul>
              <p class="p-title"> What do I need? </p> 
          <ul>
              <li>Displays a web view of the PhilAm Customer Authentication page where the PhilAM account holder is required to input the credentials, select the account for the transaction, and grant consent to the application owner.</li>
              <li>Prevents unauthorized access to the PhilAm Life client’s account.</li>
              <li>A Sandbox Bank Account</li>
              <li>API Subscription</li>
              <li>OAuth2 Scopes</li>
          </ul>  
      </div>