.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    background-color: #dbcfd2;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #eb2250;
    
}
mat-card {
    background-color: #eb2250;
}
.api {
    display: flex;
    width:25%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin: 3% 2%;
    height: 30vh;
    background-color: #eb2250;

    img {

        background-size: cover;
    }

    p {
        font-weight: bold;
        font-size: 1em;
        padding: 0.5em;
    }

   
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}