.card
{
   align-content: center;
    display: inline-block;
    background-color:aquamarine;
    border-radius: 10px;
    margin-left: 25px;
    width: 23vw;
    height: 35vh;
}
p
{
    text-align: center;

}
