.body {
    position: absolute;
    right:-13em;
    width: 130vw;
}
mat-card {
    background-color: #eb2250;
    display: flex;
    justify-content: center;
}
mat-expansion-panel {
    margin-bottom: 10px;

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .images {
        height: 570px;
        width: 1110px;
    }
}

mat-expansion-panel-header {
    background-color:#ce1515 !important; 
}

mat-panel-title, mat-panel-description {
    color:white; 
    font-weight: bold;
}  