<div class="body">
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Patch
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <img class="images" src="./../../assets/images/patch.png" alt="">
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Get
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <img class="images" src="./../../assets/images/get.png" alt="">
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Post
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <img class="images" src="./../../assets/images/post.png" alt="">
    </mat-expansion-panel>
  </mat-accordion>
</div>
