mat-expansion-panel {
    margin-bottom: 10px;
}

mat-expansion-panel-header {
    background-color:#ce1515 !important; 
}

mat-panel-title, mat-panel-description {
    color:white; 
    font-weight: bold;
}